* {
    -wekit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: normal normal normal 1.5em/140% "Roboto Condensed", sans-serif;
}

hr {
    border-color: #b9cebb;
    border-style: solid none;
    border-width: 2px 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
    color: #2d3e80;
}

.title-logo {
    margin-top: 20px;
    max-width: 100px;
    max-height: 100px;
}
